.header{
    background-color: #40603b;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 75px;
}

.content{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

