h1{
    font-size: 30px;
    font-style: oblique;
    text-align: center;
    background-color: #80ffe0;
    margin: 0;
    padding: 0.5%;
    clear: both;
}

h2{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5%;
    padding-left: 1%;
    font-family: Arial;
}

h3{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5%;
    font-family: Arial;
}

img{
    width: 100%;
    height: 110%;
}

.main{
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 1%;
    column-gap: 1%;
}

.personal-info{
    height: 100%;
    background: #41a185;
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
}

.about-me, .skills, .description, .work-experience{
    font-size: 20px;
    font-family: Arial;
    margin-left: 5%;
    padding-bottom: 1%;
}

.more-about-me{
    height: 60%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    row-gap: 5%;
    column-gap: 1%;
}

.footer{
    font-style: oblique;
    text-align: center;
    background-color: #8efdff;
    margin: 0;
    padding: 0;
}