body{
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

img{
    width: 25%;
    padding-top: 5%;
}

a{
    width: 25%;
    height: 25%;
    color: white;
    text-align: center;
    background-color: black;
    border-radius: 5%;
    margin-bottom: 5%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fffcf9;
    font-size: 25px;
}

.main{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-image: linear-gradient(-45deg, #c7c4ff, #c2ffce);
}

.ar-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 5%;
}

.services{
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin-bottom: 1%;
}

.footer{
    text-align: center;
    color: #fffcf9;
    padding-bottom: 1%;
}
